/*fonts*/

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/ptsans/ptsans.woff") format("woff"),
    url("../fonts/ptsans/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: bold;
  src:
    url("../fonts/ptsans/ptsansbold.woff") format("woff"),
    url("../fonts/ptsans/ptsansbold.woff2") format("woff2");
}

/*common styles*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PTSans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  position: relative;

  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;

  -webkit-box-shadow: 0 0 25px #9a9a9a;

          box-shadow: 0 0 25px #9a9a9a;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

.main-header {
  font-weight: bold;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.main-navigation {
  position: relative;

  padding: 0 6%;
}

.main-navigation .sedona-logo {
  position: absolute;
  left: 50%;
  top: 0;

  -webkit-transform: translateX(-50%);

      -ms-transform: translateX(-50%);

          transform: translateX(-50%);
}

.nav-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style-type: none;
}

.nav-list .nav-item {
  min-width: 20%;
  padding: 15px;

  text-align: center;
}

.nav-list .nav-item:nth-child(2) {
  margin-right: 20%;
}

.nav-list .nav-item:nth-child(1),
.nav-list .nav-item:nth-child(2) {
  text-align: left;
}

.nav-list .nav-item:nth-child(3),
.nav-list .nav-item:nth-child(4) {
  text-align: right;
}

.nav-item a {
  display: inline-block;

  color: #000000;
  text-align: center;
  vertical-align: top;
}

.nav-item a:hover {
  color: #81b3d2;
}

.nav-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item a.nav-active {
  color: #766357;
}

/*welcome*/

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 724px;

  background-color: #74899c;
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
}

.welcome-sedona-wrapper {
  height: 352px;
  width: 458px;
  margin: 77px auto;


  background-image: url("../img/sedona-welcome.png");
  background-repeat: no-repeat;
}

.welcome-description-wrapper {
  position: relative;

  padding: 45px 25%;

  color: #000000;
  line-height: 26px;
  text-align: center;

  background-color: #ffffff;
}

.welcome-description-wrapper::before {
  content: " ";

  position: absolute;
  top: -57px;
  left: 0;

  width: 100%;
  height: 58px;

  background-image: url(../img/welcome-border.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

}

.welcome h2 {
  margin-bottom: 27px;

  font-size: 21px;
  font-weight: bold;
}

.welcome p {
  margin-bottom: 6px;

  color: #333333;
}

/*advantages*/

.advantages-list,
.sedonas-live-list {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-list > li {
  counter-increment: features-counter;
}

.first-advantage,
.second-advantage {
  width: 100%;

  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.main-advantages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-advantages-wrapper:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.advantages-text-wrapper {
  width: 33.34%;
  padding-top: 26px;
  padding-bottom: 45px;
  padding-left: 4%;
  padding-right: 4%;
}

.main-advantages-wrapper .sedonas-live-img {
  min-height: 256px;
  width: 66.66%;

  background: url("../img/sedona-town.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-advantages-wrapper .sedonas-devil-bridge {
  min-height: 256px;
  width: 66.66%;

  background: url("../img/devils-bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-advantages-wrapper h3 {
  position: relative;

  padding: 0 45px;

  font-size: 21px;
  line-height: 21px;
}

.main-advantages-wrapper h3::after,
.rest-of-advantages h3::after {
  content:  "\2013  №" counter(features-counter) " \2013";

  display: block;
  min-width: 80px;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 21px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.advantages .sedonas-live-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  color: #000;

  background-color: #ffffff;
}

.sedonas-live-list .live-item {
  min-height: 330px;
  width: 33.33%;
  padding-top: 60px;
  padding-bottom: 82px;
  padding-right: 4%;
  padding-left: 4%;
}

.item-icon-wrapper {
  height: 80px;
}

.live-item b::before {
  content: "";

  display: block;
  height: 76px;
  margin-bottom: 25px;
}

.item-house b::before {
  content: url("../img/house-icon.svg");
}

.item-burger b::before {
  content: url("../img/hamburger-icon.svg");
}

.item-gift b::before {
  content: url("../img/gift-icon.svg");
}

.sedonas-live-list b {
  display: block;
  margin-bottom: 24px;

  font-size: 21px;
  line-height: 21px;
}

.sedonas-live-list p {
  margin: 0;

  color: #333333;
}

.rest-of-advantages {
  width: 33.33%;
  min-height: 256px;
  padding-right: 61px;
  padding-left: 61px;
  padding-top: 26px;
  padding-bottom: 45px;

  color: #000000;
  text-align: center;

  background-color: #eeeeee;
}

.rest-of-advantages h3 {
  position: relative;

  padding: 0 23%;

  font-size: 21px;
  line-height: 21px;
}


.rest-of-advantages p {
  color: #333333;
}

/*booking*/

.booking {
  background-color: #ffffff;
  padding-top: 50px;
}

.booking-text {
  max-width: 500px;
  margin: 0 auto;

  color: #000;
  line-height: 24px;
  text-align: center;

  background-color: #ffffff;
}

.booking h2 {
  margin: 0;
}

.booking b {
  display: block;
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 36px;
}

.booking .search-btn {
  display: block;
  width: 568px;
  margin: 0 auto;
  margin-top: 47px;
  padding: 30px;

  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-align: center;

  background-color: #766357;
}

.booking .search-btn:hover {
  background-color: #604e43;
}

.booking .search-btn:active {
  color: rgba(256, 256, 256, 0.3);

  background-color: #503e33;
}

/*booking form*/

.booking.form-hidden {
  display: none;
}

.booking .hotel-search-form {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 568px;
  margin: 0 auto;
  padding: 55px;

  color: #000000;
  line-height: 26px;
  font-weight: bold;

  background-color: #ffffff;
  box-shadow: 0 0 40px #9a9a9a;
}

.hotel-search-form button {
  cursor: pointer;
}

.form-field-wrapper {
  position: relative;

  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-bottom: 29px;
}

.form-field-wrapper label {
  vertical-align: middle;
  line-height: 38px;
}
.adults-quantity,
.kids-quantity {
  position: relative;

  width: 50%;
}

.kids-quantity {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.kids-quantity label {
  margin-left: 22%;
}

.control-btn {
  position: absolute;

  height: 100%;
  padding: 4px 15px;

  background-color: transparent;
  border: none;
}

.control-btn:hover rect {
  fill: #000000;
}

.control-btn:active rect {
  fill: #81b3d2;
}

.control-btn.btn-up {
  right: 0;
}

.control-btn.btn-down {
  right: 75px;
}

.hotel-search-form .search-input {
  float: right;
  min-height: 38px;
  width: 75.5%;
  padding: 6px;
  padding-right: 40px;
  padding-left: 12px;

  font: inherit;

  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.search-input::-webkit-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.search-input::-moz-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.search-input:-moz-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.search-input:-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.search-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-input:focus::-moz-placeholder {
  color: transparent;
}

.search-input:focus:-moz-placeholder {
  color: transparent;
}

.search-input:focus:-ms-input-placeholder {
  color: transparent;
}

.hotel-search-form .search-input:hover {
  background-color: #ebebeb;
}

.hotel-search-form .search-input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.calendar-btn {
  position: absolute;
  right: 0;

  height: 100%;
  width: 37px;

  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: none;
}

.calendar-btn:hover {
  background-image: url(../img/calendar-hover.svg);
}

.calendar-btn:active {
  background-image: url(../img/calendar-focus.svg);
}

.adults-quantity .search-input,
.kids-quantity .search-input {
  width: 51%;
  padding: 3px 40px;

  text-align: center;
}

.hotel-search-form .search-submit-btn {
  width: 100%;
  height: 100%;
  padding: 16px;
  margin-top: 26px;

  font: inherit;
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #81b3d2;
  border: none;
  border-radius: 0;
}

.hotel-search-form .search-submit-btn:hover {
  background-color: #669ec0;
}

.hotel-search-form .search-submit-btn:active {
  color: rgba(256, 256, 256, 0.3);

  background-color: #5496bd;
}

/*map*/

.map {
  min-height: 570px;

  background-image: url("../img/map.jpg");
  background-position: center;
  background-size: cover;
  background-color: #f2f1ef;
}

/*footer*/

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 26px 0;

  color: #000000;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-items-wrapper {
  width: 33.33%;

  text-align: center;
}

.main-footer .visit-sedona-link {
  padding: 5px;

  font-size: 21px;
  color: #000000;
}

.visit-sedona-link:hover {
  color: #81b3d2;
}

.visit-sedona-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social-list li {
  margin: 3px;
}

.main-footer .social-btn {
  display: block;
  width: 45px;
  height: 45px;

  background-color: #81b3d2;
}

.main-footer .social-btn:hover {
  background-color: #669ec0;
}

.main-footer .social-btn:active {
  background-color: #5496bd;
}

.social-btn:active .social-icon path{
  fill: rgba(256, 256, 256, 0.3);
}

.main-footer .social-icon {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);

  width: 20px;
  height: 22px;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-copyright .htmlacademy-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  color: #000000;
}

.main-footer .htmlacademy-logo {
  width: 115px;
  height: 41px;
  margin-left: 5px;
}

.htmlacademy-logo path,
.htmlacademy-logo rect {
  fill: #000000;
}

.htmlacademy-link:hover path,
.htmlacademy-link:hover rect {
  fill: #81b3d2;
}

.htmlacademy-link:active path,
.htmlacademy-link:active rect {
  fill: #eeeeee;
}

/*inner footer*/

body .inner-footer {
  position: static;
}

/*hotels-page*/

/*search filters*/

.hotel-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 28px 0;
  padding-bottom: 17px;
}

.search-filters {
  padding: 0 6%;

  color: #ffffff;

  background-color: #74899c;
  background-image: url("../img/hotels-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.search-filters fieldset {
  padding: 0;
  margin: 0;

  border: none;
}


.infrastructure,
.accomondation {
  width: 24%;
}

.price-wrapper {
  min-width: auto;
  margin-left: auto;
}

.hotel-filters .filter-option {
  margin: 13px 0;
}

.search-filters legend {
  font-size: 16px;
  font-weight: bold;
}

.search-filters ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin: 0;
  padding-left: 15%;
  padding-top: 10px;

  list-style-type: none;
}

.checkbox-option {
  position: relative;

  cursor: pointer;
}

.checkbox-option input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: -38px;
  top: -2px;

  width: 26px;
  height: 23px;


  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.checkbox-option input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.checkbox-option input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
}

.checkbox-option input[type="checkbox"]:disabled + .checkbox-indicator {
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
}

.checkbox-option input[type="checkbox"]:focus  + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.price-field {
  position: relative;

  height: 36px;
  margin-bottom: 20px;
  margin-top: 9px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-field::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-field label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-field .min-price,
.price-field .max-price {
  width: 157px;
  padding-left: 55px;
}

.price-field input {
  width: 50px;
  min-height: 32px;
  margin: 0;

  font: inherit;
  text-transform: uppercase;
  color: #ffffff;

  background:none;
  border: none;
}

.price-range {
  position: relative;

  margin-bottom: 32px;
}

.price-range .price-slider {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.price-range .sliding-line {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.bullet {
  position: absolute;
  top: -9px;

  display: block;

  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bullet:hover {
  background: #1c4f80;

  -webkit-transform: scale(1.1);

      -ms-transform: scale(1.1);

          transform: scale(1.1);
}

.buller-left {
  left: 0;
}

.buller-right {
  left: 80%;
}

.submit-filters-btn {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  color: #ffffff;
  text-transform: uppercase;
  font: inherit;
  text-align: center;

  border: 2px solid #ffffff;
  border-radius: 2px;
  background: none;

  cursor: pointer;
}

.submit-filters-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

/*search results*/

.search-results {
  padding: 0 6%;

  color: #000000;

  background-color: #ffffff;
}

.results-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.results-counter {
  width: 15%;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.search-results .sorting-text {
  margin: 0;
  margin-left: 7px;
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
}

.sorting-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;

  width: 75%;
}

.sorting-filters ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.sorting-list li {
  display: inline-block;
  margin-right: 29px;

  vertical-align: top;
}

.search-results .filter-links {
  min-height: 21px;
  padding: 2px 0;

  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;

  border-bottom: 1px dotted #333;
}

.search-results .filter-links:hover {
  color: #81b3d2;
}

.search-results .filter-links:active {
  color: #000000;

  background: none;
}

.filter-links.current-filter {
  color: #81b3d2;

  border: none;
}

.direction-filters {
  width: 10%;

  text-align: right;
}

.direction-filters .arrow {
  padding: 3px;

  background: none;
  border: none;
  vertical-align: middle;

  cursor: pointer;
}

.current-direction polygon {
  fill: #81b3d2;
}

.direction-filters .arrow:hover polygon{
  fill: #231f20;
}

.direction-filters .arrow:active polygon{
  fill: #81b3d2;
}

.hotel-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3%;
}

.hotels-list {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  padding-bottom: 30px;

  border-top: 1px solid #e5e5e5;
}

.hotel-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000
}

.hotel-link:hover {
  color: #81b3d2;
}

.hotel-description h3 {
  margin: 0;
  margin-bottom: 7px;
}

.hotel-description p {
  margin: 0;
}

.staying-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.staying-type {
  width: 45%;
}

.hotels-list .btn {
  display: inline-block;
  padding: 3px 17px;

  vertical-align: middle;
}

.hotels-list .info-btn,
.hotels-list .booking-btn {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.hotels-list .info-btn {
  background-color: #81b3d2;
}

.hotels-list .info-btn:hover {
  background-color: #669ec0;
}

.hotels-list .info-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotels-list .booking-btn {
  background-color: #766357;
}

.hotels-list .booking-btn:hover {
  background-color: #604e43;
}

.hotels-list .booking-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotels-list .hotel-rating {
  color: #666666;

  background-color: #f2f2f2;
}

.hotels-classification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
}

.rating-star {
  display: inline-block;
  padding: 1px;
  padding-top: 3px;

  vertical-align: middle;
}

.hotels-classification .hotel-rating {
  margin: 0;
  padding: 4px 15px;
}
