/*fonts*/

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/ptsans/ptsans.woff") format("woff2"),
    url("../fonts/ptsans/ptsans.woff2") format("woff");
}

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: bold;
  src:
    url("../fonts/ptsans/ptsansbold.woff") format("woff2"),
    url("../fonts/ptsans/ptsansbold.woff2") format("woff");
}

/*common styles*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PTSans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

.main-header {
  font-weight: bold;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.main-navigation {
  position: relative;
}

.main-navigation .sedona-logo {
  position: absolute;
  left: 50%;
  top: 0;

  transform: translateX(-50%);
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style-type: none;
}

.nav-list .nav-item {
  min-width: 20%;
  padding: 15px;

  text-align: center;
}

.nav-list .nav-item:nth-child(2) {
  margin-right: 20%;
}

.nav-item a {
  display: inline-block;

  color: #000000;
  text-align: center;
}

.nav-item a:hover {
  color: #81b3d2;
}

.nav-item a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item a.nav-active {
  color: #766357;
}

/*welcome*/

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 724px;

  background-color: #74899c;
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
}

.welcome-sedona-wrapper {
  height: 352px;
  width: 458px;
  margin: auto;


  background-image: url("../img/sedona-welcome.png");
  background-repeat: no-repeat;
}

.welcome-description-wrapper {
  position: relative;

  padding: 45px 25%;

  color: #000000;
  line-height: 26px;
  text-align: center;

  background-color: #ffffff;
}

.welcome-description-wrapper::before {
  content: " ";

  position: absolute;
  top: -57px;
  left: 0;

  width: 100%;
  height: 58px;

  background-image: url(../img/welcome-border.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

}

.welcome h2 {
  margin-bottom: 27px;

  font-size: 21px;
  font-weight: bold;
}

.welcome p {
  margin-bottom: 6px;

  color: #333333;
}

/*advantages*/

.advantages-list,
.sedonas-live-list {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.first-advantage,
.second-advantage {
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.main-advantages-wrapper {
  display: flex;
}

.main-advantages-wrapper:last-child {
  flex-direction: row-reverse;
}

.advantages-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 33.34%;
  padding-top: 26px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
}

.main-advantages-wrapper img {
  width: 66.66%;
}

.main-advantages-wrapper h3 {
  position: relative;
  max-width: 151px; /*ну тут я не знаю как еще сделать без бров*/

  font-size: 21px;
  line-height: 21px;
}

.main-advantages-wrapper h3::after,
.rest-of-advantages h3::after {
  content: "\2013  №1 \2013";

  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.main-advantages-wrapper:last-child h3::after {
  content: "\2013  №2 \2013";
}

.advantages .sedonas-live-list {
  display: flex;
  flex-wrap: wrap;

  color: #000;

  background-color: #ffffff;
}

.sedonas-live-list .live-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 330px;
  width: 33.33%;
  padding-top: 60px;
  padding-bottom: 82px;
  padding-right: 50px;
  padding-left: 50px;
}

.item-icon-wrapper {
  height: 80px;
}

.sedonas-live-list b {
  font-size: 21px;
  line-height: 21px;
}

.sedonas-live-list p {
  margin: 0;

  color: #333333;
}

.rest-of-advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.33%;
  min-height: 256px;
  padding-right: 61px;
  padding-left: 61px;
  padding-top: 26px;
  padding-bottom: 45px;

  color: #000000;
  text-align: center;

  background-color: #eeeeee;
}

.rest-of-advantages h3 {
  position: relative;

  padding: 0 60px; /*здесь тоже*/

  font-size: 21px;
  line-height: 21px;
}

.rest-of-advantages:nth-child(even) h3::after { /*я не смог докопаться до заголовков по цифрам, работает только ивен и одд >< */
  content: "\2013  №4 \2013";  /*делать по классам теперь? неочень выйдет наверно */
}
.rest-of-advantages p {
  color: #333333;
}

/*booking*/

.booking {
  background-color: #ffffff;
  padding-top: 50px;
}

.booking-text {
  max-width: 400px;
  margin: 0 auto;

  color: #000;
  line-height: 24px;
  text-align: center;

  background-color: #ffffff;
}

.booking h2 {
  margin: 0;
}

.booking b {
  display: block;
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 36px;
}

.booking .search-btn {
  display: block;
  width: 568px;
  margin: 0 auto;
  margin-top: 47px;
  padding: 30px;

  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-align: center;

  background-color: #766357;
}

.booking .search-btn:hover {
  background-color: #604e43;
}

.booking .search-btn:focus {
  color: rgba(256, 256, 256, 0.3);

  background-color: #503e33;
}

/*booking form*/

.booking .hotel-search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-wrap: wrap;
  width: 568px;
  min-height: 395px;
  margin: 0 auto;
  padding: 55px;

  color: #000000;
  line-height: 26px;
  font-weight: bold;

  background-color: #ffffff;
}

.form-field-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.adults-amount,
.kids-amount {
  position: relative;
  width: 50%;
}

.adults-amount .search-input {
  position: relative;

  text-align: center;
}

.adults-amount .search-input::before {
  content: " - ";
  position: absolute;
}

.kids-amount .search-input {
  text-align: center;
}

.kids-amount {
  justify-content: flex-end;
}

.kids-amount label {
  margin-right: 27px;
}

.control-btn {
  position: absolute;

  background-color: transparent;
  border: none;
}

.control-btn.btn-up {
  right: 10px;
}

.control-btn.btn-down {
  right: 85px;
}

.hotel-search-form .search-input {
  width: 75%;
  padding: 6px;

  font: inherit;

  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.hotel-search-form .search-input:hover {
  background-color: #ebebeb;
}

.hotel-search-form .search-input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

/*
ну, тут беда. я не знаю как сделать

.control-btn:hover .search-input {
  background-color: #ebebeb;
}

.control-btn:focus .search-input {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}*/

.adults-amount .search-input,
.kids-amount .search-input {
  width: 114px;
}

.hotel-search-form .search-submit-btn {
  width: 100%;
  height: 100%;
  padding: 16px;
  align-self: flex-end;

  font: inherit;
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #81b3d2;
  border: none;
  border-radius: 0;
}

.hotel-search-form .search-submit-btn:hover {
  background-color: #669ec0;
}

.hotel-search-form .search-submit-btn:focus {
  color: rgba(256, 256, 256, 0.3);

  background-color: #5496bd;
}

/*map*/

.map img {
  min-height: 570px;
}

/*footer*/

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-100%);

  color: #000000;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-items-wrapper {
  width: 33.33%;

  text-align: center;
}

.main-footer .visit-sedona-link {
  font-size: 21px;
  color: #000000;
}

.main-footer .social-list {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social-list li {
  margin: 3px;
}

.main-footer .social-btn {
  display: block;
  width: 45px;
  height: 45px;

  background-color: #81b3d2;
}

.main-footer .social-btn:hover {
  background-color: #669ec0;
}

.main-footer .social-btn:focus {
  background-color: #5496bd;
}

.social-btn:focus .social-icon path{
  fill: rgba(256, 256, 256, 0.3);
}

.main-footer .social-icon {
  transform: translateY(50%);

  width: 20px;
  height: 22px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}

.footer-copyright .htmlacademy-link {
  display: flex;
  align-items: center;
  width: 240px;
  height: 60px;

  color: #000000;
}

.main-footer .htmlacademy-logo {
  width: 115px;
  height: 41px;
  margin-left: 5px;
}

.htmlacademy-logo path {
  fill: #000000;
}

.htmlacademy-link:hover path{
  fill: #81b3d2;
}

.htmlacademy-link:focus path{
  fill: #eeeeee;
}

/*hotels-page*/

/*search filters*/

.hotel-filters {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 70px;
}

.search-form-wrapper {
  width: 33.33%;
}

.search-filters {
  color: #ffffff;

  background-color: #74899c;
  background-image: url("../img/hotels-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.search-filters fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.search-filters legend {
  font-size: 16px;
  font-weight: bold;
}

.search-filters ul {
  padding: 0;

  list-style-type: none;
}

.price input {
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;

  background:none;
}

.search-form-wrapper .submit-filters-btn {
  color: #ffffff;
  text-transform: uppercase;
  font: inherit;
  text-align: center;

  border: 2px solid #ffffff;
  border-radius: 2px;
  background: none;
}

.search-form-wrapper .submit-filters-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

/*search results*/

.search-results {
  padding: 30px 70px;

  color: #000000;

  background-color: #ffffff;
}

.results-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-counter {
  width: 20%;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.search-results .sorting-text {
  font-size: 12px;
  line-height: 18px;
}

.sorting-filters {
  display: flex;
  align-items: baseline;

  width: 60%;
}

.sorting-filters ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.sorting-list li {
  display: inline-block;
}

.search-results .filter-links {
  min-height: 21px;

  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;

  /*border-bottom: 1px dotted #81b3d2;*/
}

.search-results .filter-links:hover {
  color: #81b3d2;
}

.search-results .filter-links:focus {
  color: #000000;
}

.filter-links.current-filter {
  color: #81b3d2;
}

.direction-filters {
  width: 20%;
}

.hotels-list {
  padding: 0;

  list-style-type: none;
}

.hotel-item {
  display: flex;
}

.hotels-list .hotel-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000
}

.hotels-list .hotel-link:hover {
  color: #81b3d2;
}

.staying-wrapper {
  display: flex;
}

.hotels-list .info-btn,
.hotels-list .booking-btn {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.hotels-list .info-btn {
  background-color: #81b3d2;
}

.hotels-list .info-btn:hover {
  background-color: #669ec0;
}

.hotels-list .info-btn:focus {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotels-list .booking-btn {
  background-color: #766357;
}

.hotels-list .booking-btn:hover {
  background-color: #604e43;
}

.hotels-list .booking-btn:focus {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotels-list .hotel-rating {
  color: #666666;

  background-color: #f2f2f2;
}

.hotels-classification {
  margin-left: auto;
}
